
*{
    padding: 0;
    margin: 0;
}
nav{
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    background-color: #40534C;
    align-items: center;
}
/* nav>p{
    text-align: center;
} */
nav >ul li{
    list-style: none;
    display:  inline-block;
    margin: .3rem;
    padding: .3rem;
    /* border: 2px solid red; */
}
nav >ul li:hover{
    cursor: pointer;
    background-color: #069494;
}
.btn-primary{
    background-color: #677D6A;
}
body{
    background-color:#1A3636;
    width: 70% auto;
    color: #ebe3d8;
}
footer{
    background-color: ##40534C;
}
.poem{
    padding: 2rem;
    background-color:rgba(255, 99, 71, 0.1);
}
/* .table section */
.table> table , th ,td {
    padding: .3rem;
    border: 1px solid  #40534C;
    border-collapse: collapse;
}
tr:nth-child(even) {
    background-color: #069494;
  }
/* td:nth-child(even), th:nth-child(even) {
    background-color:rgba(37, 52, 124,0.5);
  } */
   .form{
    display: flex;
   }
footer{
    background-color: #40534C;
}
